<% users.each do |user| %>
    <tr>
        <td><%= get_user_image(user)%></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.role ? user.role.name : "" %></td>
        
    </tr>
 <% end %>