<%= button_to "Hide Roles", hide_roles_path, :id => "hideRoles",
      :class => "btn btn-primary", :method => :get %><br/><br/><br/>
<table id="rolesTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
              <th>Name</th>
              <th>Is Hide?</th>
            </tr>
        </thead>
        <tbody id="usersList">
        <% @roles.each do |role| %>
          <tr>
            <td><%= role.name %></td>
            <td><%= role.status %></td>
          </tr>
        <% end %>
        </tbody>
    </table>
<script type="text/javascript"> 
  $(document).ready(function() {
      $('#rolesTable').DataTable();
  } );
</script>

